<%- include("partials/header", { title: '' }) %>

    <div class="container detail text-center">
        <h1 class="title la-belle-aurore-regular">What's a book you've recently read?</h1>

        <div class="form">

            <form action="/add" method="POST">

                <div class="form-top">

                    <!-- LEFT -->
                    <div class="form-left">

                        <div class="form-line">
                            <input id="isbnInput" name="isbn" placeholder="Enter ISBN">
                            <button class="fetch-btn" type="button" onclick="fetchBook()">Fetch Book</button>
                        </div>

                        <input id="titleInput" name="title" placeholder="Title" required>
                        <input id="authorInput" name="author" placeholder="Author">

                        <input id="coverInput" name="cover_url" placeholder="Cover image URL">



                    </div>

                    <!-- RIGHT -->
                    <div class="form-right">

                        <div class="cover-frame">
                            <p class="placeholder-text">Cover preview</p>
                            <img id="coverPreview">
                        </div>



                    </div>

                </div>

                <!-- FULL WIDTH -->


                <div class="rating-row">
                    <input type="hidden" name="rating" id="ratingInput">
                    <span class="rating-label">Rating:</span>

                    <div id="starPicker" class="stars">
                        <span data-value="1">☆</span>
                        <span data-value="2">☆</span>
                        <span data-value="3">☆</span>
                        <span data-value="4">☆</span>
                        <span data-value="5">☆</span>
                    </div>
                    <span id="ratingValue" class="rating-value">(0/5)</span>
                </div>

                <textarea name="review" placeholder="Notes"></textarea>

                <button class="addBook">Add Book</button>

            </form>
        </div>
    </div>

    <script>

        const input = document.getElementById("coverInput");
        const preview = document.getElementById("coverPreview");

        input.addEventListener("input", () => {

            if (input.value) {
                preview.src = input.value;
                preview.classList.add("active");
            } else {
                preview.classList.remove("active");
            }

        });
        //FETCHING DATA 
        async function fetchBook() {

            const isbn = document.getElementById("isbnInput").value;

            const response = await fetch(
                `https://www.googleapis.com/books/v1/volumes?q=isbn:${isbn}`
            );

            const data = await response.json();

            // if ISBN not found
            if (!data.items) {
                alert("Book not found");
                return;
            }
            const book = data.items[0].volumeInfo;

            document.getElementById("titleInput").value = book.title || "";
            document.getElementById("authorInput").value = book.authors?.[0] || "";
            document.getElementById("isbnInput").value = isbn;

            if (book.imageLinks) {
                const cover = book.imageLinks.thumbnail;

                document.getElementById("coverInput").value = cover;
                document.getElementById("coverPreview").src = cover;
                document.getElementById("coverPreview").classList.add("active");
            }

        }

        // STARS 

        const stars = document.querySelectorAll("#starPicker span");
        const ratingInput = document.getElementById("ratingInput");
        const ratingValue = document.getElementById("ratingValue");

        stars.forEach(star => {

            star.addEventListener("mouseenter", () => {
                const rating = star.dataset.value;

                stars.forEach(s => s.textContent = "☆");

                for (let i = 0; i < rating; i++) {
                    stars[i].textContent = "★";
                }
            });

            star.addEventListener("mouseleave", () => {
                // restore selected rating
                stars.forEach(s => s.textContent = "☆");

                for (let i = 0; i < selectedRating; i++) {
                    stars[i].textContent = "★";
                }
            });

            star.addEventListener("click", () => {
                selectedRating = star.dataset.value;

                ratingInput.value = selectedRating;
                ratingValue.textContent = `(${selectedRating}/5)`;

                stars.forEach(s => s.classList.remove("active"));

                for (let i = 0; i < selectedRating; i++) {
                    stars[i].classList.add("active");
                }
            });

        });

    </script>
    </div>
    </body>

    </html>